body {
    font-family: 'Merriweather', serif;
    background-color: rgb(195, 130, 255);
}

header {
    background-color: rgb(177, 93, 255);
    padding: 1vh 1vw;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.logo {
    width: 15vw;   
}

.usuario {
    display: flex;
    align-items: center;
}

.usuario p {
    padding: 0 0 0 6px;
    color: cornsilk;
}

.foto_usuario {
    border-radius: 50%;
    width: 2vw;
}


footer {
    height: 3vh;
}