body {
    font-family: 'Merriweather', serif;
    background-color: rgb(195, 130, 255);
}

header {
    background-color: rgb(177, 93, 255);
    padding: 1vh 1vw;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.logo {
    width: 15vw;   
}

.usuario {
    display: flex;
    align-items: center;
}

.usuario p {
    padding: 0 0 0 6px;
    color: cornsilk;
}

.foto_usuario {
    border-radius: 50%;
    width: 2vw;
}

ul {
    display: flex;
    flex-direction: column;
}

footer {
    height: 3vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

h3 { 
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 10px 0;
}

li {
    font-size: 0.8em;
    font-weight: normal;
    margin: 2px 0;
}

.aviso {
    font-size: 0.6em;
    margin: 20px 0 0 0;
}